* {
    box-sizing: border-box;
}

body {
    border: 0;
    margin: 0;
    background-color: rgb(215, 19, 19, 0.75);
    background-repeat: repeat-y;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    color: black;
}

.main{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#grid {
    display: flex;
    flex-direction: column;
    border: 3px solid #EEEDED;
    width: 500px;
    height: 500px;
    padding: 0;
    flex: 0 0 auto;
    background-color: snow;
}

.row {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.square {
    border: .5px dotted rgb(0, 0, 0, 0.2);
    flex: 1 1 0;
}

.controls-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-self: center;
    justify-content: center;
    align-items: center;
    border: 3px solid #EEEDED;
    margin-right: 50px;
    background-color: rgb(13, 66, 130);
}

.range {
    margin-bottom: 20px;
}

.colorChoice {
    background-image: linear-gradient(#F0DE36 , grey);
}

button {
    margin-bottom: 8px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 900;
    text-shadow: #EEEDED 1.5px 1.5px;
}

h3 {
    color: #EEEDED;
    text-shadow: black 1.5px 1.5px;
}